**/.idea/*
**/vendor/*
moodle.sql
**/.vscode/*
/learninglocker/mongo_data/*
/learninglocker/redis_data/*
caliper_log/data/*
open_lrw/data/*
xapi_stmt_gen/log/*
elcampus_la/xapi_stmt_gen/log/*
superset_db/data/*
metabase/*
**/.DS_Store