{% extends "superset/basic.html" %}
{% block title %}{{ _("LA Integration!") }}{% endblock %}
{% block body %}
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}
</style>
<div class="container LA Integration">
  {% include 'superset/flash_wrapper.html' %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <div class="row">
          <div class="col-md-6">
            <h2>{{ _("LA Integration") }}</h2>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
<h5>Model getting executed: {{ file }}</h5>
<h5>Course Selected: {{ selected_course}}</h5>
<h3>Result: {{ result }}</h3>
    </div>
  </div>
</div>
{% endblock %}

